// Side Navigation
//------------------------------------------------------------------------------
.side-nav {

  &__content {
    max-width: $page-wrapper;
    margin: 0 auto;
  }

  &__title {
    @extend %h3;
  }

  &__list {
    margin-top: $baseline;
  }

  &__item {
    @include grid-row(false);
    @extend %p;
    align-items: center;
    padding: $baseline / 4 0;
    position: relative;
    // border-top: 1px dotted $color-neutral-medium-low;
  }

  &__link {
    font-weight: 600;
    display: block;
    margin-left: $column-gutter;
    color: $color-neutral-medium-high;
  }

  &__number {
    color: $color-primary;
    font-weight: bold;
    border-radius: 50%;

    // Note: for border-item
    font-size: $font-size-small;
    align-items: center;
    justify-content: center;

    background-color: $color-neutral-lowest;
    border: 2px solid $color-primary;
    display: flex;
    width: rem-calc(34);
    height: rem-calc(34);
    position: relative;
    // transform: translateX(-50%) translateY(-50%);

    &::after {
      background-color: $color-primary;
      content: ' ';
      height: 2px;
      width: $column-gutter / 2;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateX(100%) translateY(-50%);
    }
  }
}
