.page-slide {

  &__side-nav {
    padding: $baseline * 2 $column-gutter;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: rem-calc(400);
    background-color: $color-neutral-lowest;
    overflow-y: auto;
    border-right: 1px solid $color-neutral-low;
  }

  &__overlay {
    
  }
}