//// Semibold
//@font-face {
//  font-family: 'gotham';
//  src: url('../fonts/gotham/semibold.woff') format('woff');
//  font-weight: 600;
//  font-style: normal;
//}

// Regular
@font-face {
  font-family: 'hkgroteskpro';
  src: url('../fonts/hkgroteskpro/regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
